<footer class="border-t border-white/5 py-16 bg-black">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid md:grid-cols-4 gap-10 mb-10">
      <div>
        <div class="flex items-center gap-3 font-display font-bold text-xl tracking-tighter">
          <a href="/index.html" class="flex items-center gap-3 font-display font-bold tracking-tighter text-2xl group">
            <img src="/assets/img/Logo_20260211_181440_0000.png" alt="Logo Ayo Lari"
              class="h-10 w-10 object-cover rounded-lg border border-white/0" />
          </a>
        </div>
        <p class="text-slateish text-xs mt-4 leading-relaxed max-w-xs">We are under control.</p>
      </div>
      <div>
        <div class="text-xs font-bold uppercase tracking-widest text-neon mb-6">Program Lari</div>
        <ul class="space-y-3 text-xs font-bold uppercase tracking-wide text-slateish">
          <li><a class="hover:text-white transition-colors" href="/pages/program-run-start.html">RUN-START</a></li>
          <!-- <li><a class="hover:text-white transition-colors" href="/pages/program-kesamaptaan.html">KESAMAPTAAN</a></li> -->
          <li><a class="hover:text-white transition-colors" href="/pages/program-privat-online.html">Program ONLINE</a>
          </li>
          <!-- <li><a class="hover:text-white transition-colors" href="/pages/program-privat-offline.html">Latihan OFFLINE</a> -->
          </li>
        </ul>
      </div>
      <div>
        <div class="text-xs font-bold uppercase tracking-widest text-neon mb-6">Tentang Kami</div>
        <ul class="space-y-3 text-xs font-bold uppercase tracking-wide text-slateish">
          <li><a class="hover:text-white transition-colors" href="/pages/coach.html">About US</a></li>
          <!-- <li><a class="hover:text-white transition-colors" href="/pages/coach.html">Coach & Team</a></li> -->
          <li><a class="hover:text-white transition-colors" href="/index.html#programs">Kerja Sama</a></li>
          <li><a class="hover:text-white transition-colors" href="https://wa.me/6285147267786">Kontak Pengaduan</a></li>
        </ul>
      </div>
      <div>
      </div>
    </div>

    <div
      class="border-t border-white/5 pt-8 text-[10px] uppercase tracking-widest text-slateish flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      <div>Copyright 2026 N6. All rights reserved.</div>
      <div class="flex gap-6">
        <a class="hover:text-white transition-colors" href="#">Privacy Policy</a>
        <a class="hover:text-white transition-colors" href="#">Terms of Service</a>
        <a class="hover:text-white transition-colors" href="#">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>
